<%- include('partials/header'); %>
<div class="container">
    <div class="homebox">
        <a href="/login" class="searchButton" id="login-btn">Login</a>
        <a href="/register" class="searchButton" id="register-btn">Register</a>
    </div>
</div>
<%- include('partials/footer'); %>